# OS Specific
.Ds_Store

# IDEs
.idea

#folders
keys

deploy.sh
docker-compose-production-server.yaml
docker-compose-production-web.yaml
docker-compose-production-server.yaml
docker-compose.yaml
server.zip
web.zip
