.main-map {
  background: url("/images/japan_prefectures.svg") no-repeat;
  background-position: center;
  background-size: 33%;
  fill: url(#header-shape-gradient)
}

#header-shape-gradient {
  --color-stop: #f12c06;
  --color-bot: #faed34;
}

.custom-grid-container > div {
  height: 38px;
}

.custom-grid-container {
  display: grid;
  grid-gap: 0.2%;
  /* grid-template-columns: 25% 10.71% 14.29% 21.86% 26.14%; */
  /* grid-template-columns: 26% 11.71% 14.29% 19.86% 26.14%; */
  grid-template-columns: 26% 11.71% 14.29% 16.52% 33%;
  grid-template-rows: 17.75fr 6.25fr 14.75fr 27fr 22.5fr 12.75fr;
  grid-template-areas:
    "box hokuriku hokuriku . ."
    "box hokuriku hokuriku . hokkaido"
    "box . . . hokaido"
    "kansai . . . kanto"
    "chugoku . . . tokai"
    "chugoku . kyushu kyushu kyushu";
}

.hokkaido {
  grid-area: hokkaido;
}
.kanto {
  grid-area: kanto;
}
.hokuriku {
  grid-area: hokuriku;
}
.tokai {
  grid-area: tokai;
}
.kansai {
  grid-area: kansai;
}
.chugoku {
  grid-area: chugoku;
}
.kyushu {
  grid-area: kyushu;
}
.custom-box {
  grid-area: box;
}
@media screen and (min-width: 1200px) {

  .css-k008qs div:nth-child(2).css-1kq6mic  {
    max-width: 75%!important;
    min-width: 60%!important;
  }
}
@media screen and (min-width: 851px) and (max-width: 1200px){
.css-k008qs div:nth-child(2).css-1kq6mic {
  max-width: 70%!important;
  min-width: 70%!important;
}
}

/* .css-k008qs {
  overflow: hidden;
  min-width: 90%;
  max-width: 90%;
} */
.css-1nnozux {
  min-width: fit-content;
}
.css-unytm1 {
  bottom: 0;
  width: 100%;
  /* position: absolute; */
}
.css-k008qs {
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 850px) {
.css-k008qs div:nth-child(2).css-1kq6mic {
  max-width: 90%!important;
  min-width: 90%!important;
}
}



.css-1kq6mic .css-7x86kx {
  overflow: auto;
  padding-bottom: 40px;
  max-width: 100% !important;
  min-width: 100% !important;

}
.css-7x86kx .css-k8pp04 {
  min-width: min-content;
}
@media screen and (max-width: 400px) {
  .css-r6z5ec {
    min-width: auto !important;

  }
}

@media screen and (min-width: 52em){

  .css-1dhlgsd {
      width: auto;
      display: block;
  }



}
@media screen and (max-width: 1320px){
table.chakra-table.css-2mg9z6 {
  position: relative;
  width: 1200px;
  padding-bottom: 40px;
}
}


@media screen and (min-width: 40em){

    /* .css-k008qs .css-1kq6mic {
      max-width: 90%!important;
      min-width: 90%!important;
    } */
  

  .css-gj63gs {
      display: grid;
      overflow: hidden;
  }

}
@media screen and (min-width: 40em){
.css-1kq6mic {
    max-width: 90% !important;
    min-width: 90% !important;
}
}
@media screen and (max-width: 768px) {
  .css-qxmg63 {
    display: block !important;
    padding: 0 !important;
  }

  .css-1s13da4 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    max-width: 100%;
    min-width: 90%;
    -webkit-margin-start: 20px;
    margin-inline-start: 20px;
    -webkit-margin-end: px;
    margin-inline-end: 20px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
   
    margin-bottom: auto;
}

}

@media screen and (min-width: 768px) and (min-width: 1200px){
  .css-1s13da4 {
    margin: 0 auto;
    max-width: 90%;
  }

}
@media screen and (max-width: 1300px) {
    .css-1whwwmq {
      --chakra-wrap-spacing: var(--chakra-space-20);
      --wrap-spacing: calc(var(--chakra-wrap-spacing) / 2);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex-wrap: wrap;
      /* -webkit-flex-wrap: wrap; */
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0px;
      margin: calc(var(--wrap-spacing) * -1);
      justify-content: center;
      align-items: flex-start;
  }



}

@media screen and (max-width: 640px) {
  .css-vmzmuh{
    min-width: 90%;
  }
  .css-1yp4ln{
    justify-content: center;

  }
  .css-1ump8ex {
    width: 100%;
    padding: 0px !important;
  }
  .chakra-wrap__listitem.css-1yp4ln .css-1oiofv6{
    margin: 0 !important;
  }
  .css-gmuwbf {
    padding-top: 20px;
  }
  .css-1whwwmq>*:not(style) {
    margin: 20px auto !important;
  }
  .css-1kq6mic {
    min-width: 90% !important;
    max-width: 90% !important;

  }
  .css-1rnziwh {
    max-width: 100%;
    min-width: 100%;
  }
  .css-1yp4ln {
    max-width: 90% !important;
    min-width: 90% !important;
    padding: 20px;
    margin: 0px !important;
  }
}