.main-map {
  background: url("/images/japan_prefectures.svg") no-repeat;
  background-position: center;
  background-size: 33%;
  fill: url(#header-shape-gradient)
}

#header-shape-gradient {
  --color-stop: #f12c06;
  --color-bot: #faed34;
}

.custom-grid-container > div {
  height: 38px;
}

.custom-grid-container {
  display: grid;
  grid-gap: 0.2%;
  /* grid-template-columns: 25% 10.71% 14.29% 21.86% 26.14%; */
  /* grid-template-columns: 26% 11.71% 14.29% 19.86% 26.14%; */
  grid-template-columns: 26% 11.71% 14.29% 16.52% 33%;
  grid-template-rows: 17.75fr 6.25fr 14.75fr 27fr 22.5fr 12.75fr;
  grid-template-areas:
    "box hokuriku hokuriku . ."
    "box hokuriku hokuriku . hokkaido"
    "box . . . hokaido"
    "kansai . . . kanto"
    "chugoku . . . tokai"
    "chugoku . kyushu kyushu kyushu";
}

.hokkaido {
  grid-area: hokkaido;
}
.kanto {
  grid-area: kanto;
}
.hokuriku {
  grid-area: hokuriku;
}
.tokai {
  grid-area: tokai;
}
.kansai {
  grid-area: kansai;
}
.chugoku {
  grid-area: chugoku;
}
.kyushu {
  grid-area: kyushu;
}
.custom-box {
  grid-area: box;
}

.css-1kq6mic {
  min-width: 90% !important;
  max-width: 90% !important;

}
.css-zf0iqh {
  width: 100%;
}
.css-k008qs {
  overflow: hidden;
  min-width: 90%;
  max-width: 90%;
}
.css-1nnozux {
  min-width: fit-content;
}
.css-unytm1 {
  bottom: 0;
  width: 100%;
  position: absolute;
}
@media screen and (max-width: 400px) {
  .css-r6z5ec {
    min-width: auto !important;

  }
}

@media screen and (min-width: 52em){

  .css-1dhlgsd {
      width: auto;
      display: block;
  }



}
